<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.ico">

    <title>小小说说</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link href="http://www.jq22.com/jquery/font-awesome.4.6.0.css" rel="stylesheet">-->
    <link href="/css/jumbotron.css" rel="stylesheet">
    <link href="/css/cropper.min.css" rel="stylesheet">
    <link href="/css/sitelogo.css" rel="stylesheet">
</head>

<body>

<!--网页的导航栏-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">小小说说</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav nav-list">
                <li class="active"><a href="/">全部说说</a></li>
                <li><a href="javascript:;" id="my-talk-btn">我的说说</a></li>
                <li><a href="javascript:;" id="member-list-btn">成员列表</a></li>
            </ul>
            <% if(!login){ %>
                <div class="navbar-form navbar-right">
                    <div class="login-form">
                        <div class="form-group">
                            <input type="text" placeholder="昵称(至少3位 可以中文)" class="form-control" id="username">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="密码(至少6位)" class="form-control" id="password">
                        </div>
                        <button id="btn-login" class="btn btn-success">登录</button>
                        <button id="btn-signin" class="btn btn-success">注册</button>
                    </div>
                </div>
            <% }else{ %>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:;" id="avatar-btn">
                        <img src="/avatar/<%= avatar %>" class="img-circle avatar-img">
                    </a>
                </li>
                <li><a href="#" class="own-username"><%= username %></a></li>
                <li><a href="#" data-toggle="modal" data-target="#modify-profile">修改个人资料</a></li>
                <li><a href="#" id="btn-quit">退出登录</a></li>
            </ul>
            <% } %>
        </div><!--/.navbar-collapse -->
    </div>
</nav>
<!-- Main jumbotron for a primary marketing message or call to action -->
<% if(!login){ %>
    <div class="container-fluid brief-fluid">
        <div class="jumbotron">
            <div class="container">
                <div class="alert alert-dismissible" role="alert">
                    <strong></strong><span></span>
                </div>
                <h1>欢迎使用小小说说</h1>
                <p>要查看或发布动态，请先登录</p>

            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row brief">
                <div class="col-md-4">
                    <h2>发布动态</h2>
                    <p>你可以随时把开心的，伤心的，好玩的，有意思的事跟大家分享，只要你愿意。</p>
                </div>
                <div class="col-md-4">
                    <h2>查看动态</h2>
                    <p>你可以看看别人都碰到了哪些好玩的事，遇到了哪些有趣的人。你也可以点赞，评论。</p>

                </div>
                <div class="col-md-4">
                    <h2>查看成员</h2>
                    <p>在这里，你可以知道使用小小说说的都是哪些人，他们都有哪些好玩的点子。</p>
                </div>
            </div>
        </div> <!-- /container -->
        <div class="footer">
            <footer>
                <p>&copy; 2018 Company, Inc.</p>
            </footer>
        </div>
    </div>
<% }else{ %>
    <!--所有说说列表-->
<div class="container main-container">
    <div class="jumbotron text-content-bg">
        <div class="container">
            <div class="row">
                <textarea id="text-content" maxlength="500" class="form-control col-lg-12" rows="7"
                          placeholder="有什么想和大家分享的？"></textarea>
                <span id="last-num" class="col-lg-1 col-lg-offset-10">500</span>
                <button id="btn-send" type="button" class="btn btn-success col-lg-1">发布</button>
            </div>

        </div>

    </div>
    <div class="container">
        <div class="panel-list">
            <% for(var i = 0;i < listResult.length;i++) {%>
            <div class="panel panel-default">
                <span class="_id"><%=listResult[i]._id%></span>
                <div class="panel-heading">
                    <img src="/avatar/<%= listResult[i].avatarPath %>" class="img-circle avatar-img panel-avatar">
                    <span class="panel-username"><%= listResult[i].username %></span>
                </div>
                <div class="panel-body">
                    <%= listResult[i].talkContent%>
                </div>
                <div class="panel-footer">
                    <span class="time"><%= listResult[i].time.toLocaleString()%></span>
                    <span class="icon-two pull-right">
                        <a href="javascript:;" class="zan-number <%=zaned[i]%>">
                            <i class="glyphicon glyphicon-thumbs-up"></i>
                            <span><%=listResult[i].zanNum%></span>
                        </a>
						<!--评论面板小图标-->
                        <a href="javascript:;" data-toggle="collapse" data-target="#collapsePanel<%=i%>"
                           aria-expanded="false" aria-controls="collapsePanel" class="comment-a">
                            <i class="glyphicon glyphicon-comment"></i>
                            <span class="comment-number"><%=listResult[i].commentNum%></span>
                        </a>
                    </span>
					<!--评论面板-->
                    <div class="collapse comment-coll" id="collapsePanel<%=i%>">
                        <div class="comment-content">
                            <div>
                                <textarea maxlength="200" class="form-control reply-textarea" rows="3" placeholder=""></textarea>
                                <button type="button" class="btn btn-success pull-right replay-btn">回复</button>
                            </div>
							<!--评论列表-->
                            <ul class="list-group comment-list">
                                <%for(var j=0;j<listResult[i].commentContent.length;j++){%>
                                <li class="list-group-item">
                                    <a class="reply-user" href="javascript:;"><%=listResult[i].commentContent[j].replyUser%>：</a>
                                    <span class="reply-content"><%=listResult[i].commentContent[j].replyContent%></span>
                                    <div class="reply-time"><%=listResult[i].commentContent[j].replyTime.toLocaleString()%></div>
                                </li>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div> <!-- /container -->
    <hr>
    <div>
        <footer>
            <p>&copy; 2018 Company, Inc.</p>
        </footer>
    </div>
</div>
    <!--我的说说列表-->
<div class="container my-talklist">
    <div class="panel-list"></div>
    <hr>
    <div>
        <footer>
            <p>&copy; 2018 Company, Inc.</p>
        </footer>
    </div>
</div>
    <!--成员列表    -->
<div class="container member-list">
    <div class="panel-list"></div>
    <hr>
    <div>
        <footer>
            <p>&copy; 2018 Company, Inc.</p>
        </footer>
    </div>
</div>
<% } %>

<!-- Modal -->
<!--修改个人信息的模态框-->
<div class="modal fade" id="modify-profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">修改个人信息</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-dismissible modal-alert alert-danger" role="alert">
                    <strong></strong><span></span>
                </div>
                <form>
                    <div class="form-group">
                        <img src="/avatar/<%= avatar %>" class="img-circle center-block avatar-img">
                    </div>
                    <div class="form-group center-block">
                        <a href="#" id="modi-avatar" class="center-block">修改头像 &gt;</a>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">旧密码:</label>
                        <input type="password" class="form-control" id="old-pwd">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">新密码:</label>
                        <input type="password" class="form-control" id="new-pwd">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">确认新密码:</label>
                        <input type="password" class="form-control" id="ok-new-pwd">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-updata-pwd" type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<!--修改头像模态框-->
<div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--<form class="avatar-form" action="upload-logo.php" enctype="multipart/form-data" method="post">-->
            <form class="avatar-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="avatar-modal-label">修改头像</h4>
                </div>
                <div class="modal-body">
                    <div class="avatar-body">
                        <div class="avatar-upload">
                            <input class="avatar-src" name="avatar_src" type="hidden">
                            <input class="avatar-data" name="avatar_data" type="hidden">
                            <label for="avatarInput" style="line-height: 35px;">图片上传</label>
                            <button class="btn" type="button" style="height: 35px;"
                                    onclick="$('input[id=avatarInput]').click();">请选择图片
                            </button>
                            <span id="avatar-name"></span>
                            <input class="avatar-input hide" id="avatarInput" name="avatar_file" type="file">
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="avatar-wrapper"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="avatar-preview preview-lg" id="imageHead"></div>
                            </div>
                        </div>
                        <div class="row avatar-btns">
                            <div class="col-md-3 col-md-4">
                                <button class="btn btn-block avatar-save fa fa-save" type="button" data-dismiss="modal">
                                    保存修改
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="/js/jquery-3.3.1.min.js"></script>-->

<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/cropper.js"></script>
<script src="/js/sitelogo.js"></script>
<script src="/js/html2canvas.min.js" type="text/javascript" charset="utf-8"></script>
<!--页面自身的js文件-->
<script src="/js/index-page.js"></script>

</body>
</html>
